body{
    font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }
    
    .img-fluid{
        border-radius: 20px;
    }
  
    .display-2{
      font-family: 'Rosario', sans-serif;
      margin-top: 50px;
      text-align: center;
    }
  
    .display-4{
      font-family: 'Rosario', sans-serif;
    }

    .btn-buy{
        background-color: goldenrod ;
        color: white;
    }

    h3{
      color: goldenrod ;
    }

    .fs-4,.fs-5{
        text-align: justify;
    }

    
  
  