*{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.block {
  width: 100%;
  padding: 14px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.form-login {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  transition: 300ms;
  font-weight:500;
}

.form-login:focus {
  background-color: #fff;
  outline: none;
}

.border-left{
    border-left: 6px solid #030303;
}

.font-check{
    color: #030303;
    font-size: 16px;
}

::placeholder { 
  color: #d2d3d5;
  opacity: 1;
}

:-ms-input-placeholder { 
  color: #d2d3d5;
}

::-ms-input-placeholder { 
    color: #d2d3d5;
}
